@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

#navbarNavDropdown > ul > div > ul{
    background-color: $teal-500;
}

#root > div > nav > div{
    background-color: $cyan-200;
}
#mainlogo{
$border-width:  5px;
}