@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,800;1,500&display=swap');

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Form */
#root > div > div > main{
  margin-left: 0%;
  margin-top: 10%;
}

/* Emoji box */
#root > div > div > div:nth-child(3) > aside{
  margin-top: 200%;
  margin-left: 10px;
  border-color: black;
}

/* Emoji Picker styling */
#root > div > div > div:nth-child(3) > aside.EmojiPickerReact{
  --epr-emoji-size: 18px;
  --epr-bg-color:  rgba(37, 94, 72, 0.739);
  --epr-category-label-bg-color:  rgba(28, 44, 38, 0.739);
  --epr-text-color: white;
  --epr-hover-bg-color: rgba(28, 44, 38, 0.739);
}

#root > div > div > div:nth-child(3) > aside > div.Flex.epr-preview.FlexRow > div> img{
height: 18px;
}
#root > div > div > div:nth-child(3) > aside > div.epr-body > ul > li> div.epr-emoji-category-label{
  font-size: smaller;
}

#root > div > div > div:nth-child(3) > aside > div.epr-header > div.epr-category-nav > button.epr-btn.epr--{
  height: 16px;
  width:16px;
  justify-content: center;
}
#root{
  height: 100vh;
  color: blanchedalmond;
  font-family: 'JetBrains Mono', monospace;
}

/* Chat box background */
#root > div > div > main > div > div{
  background-color: #048ca1da;
}

/* Chat box */
#outlined-helperText{
  background-color: rgb(142, 184, 170);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: #001510;
  border-color: #00bf8f;
}

body{
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

