@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,400;0,800;1,500&display=swap');

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100vh;
  color: blanchedalmond;
  font-family: 'JetBrains Mono', monospace;
}

#root > main > div > div{
  background-color: rgba(0, 0, 0, 0.12);
}

#outlined-helperText{
  background-color: rgb(142, 184, 170);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  color: #001510;
  border-color: #00bf8f;
}

body{
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

